openapi: 3.1.0
info:
  title: "Admin Management: Pickup"
  version: 1.0.0
paths:
  /stores/{store_hash}/v3/orders/pickups:
    get:
      operationId: pickup_get-pickup
      summary: List Pickups
      description: |-
        Retrieves a list of pickups.

        ## Examples

        You can filter the list to return pickup objects specific to a list of requested pickup or order IDs. 
        This is achieved by appending the query string `?order_id:in=100,103,202` or `pickup_id:in=1,4` to the 
        resource `/orders/pickups`.

        ```http
        GET /orders/pickups?order_id:in=100,300,500
        ```
        or
        ```http
        GET /orders/pickups?pickup_id:in=7,13,17
        ```
      tags:
        - pickup
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: order_id:in
          in: query
          description: Comma separated list of order IDs.
          required: false
          schema:
            type: integer
            format: int64
        - name: pickup_id:in
          in: query
          description: Comma separated list of pickup IDs.
          required: false
          schema:
            type: integer
            format: int64
        - name: Accept
          in: header
          description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
          required: true
          schema:
            type: string
            default: application/json
      responses:
        "200":
          description: The request has been processed and a list of pickups has been returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pickup_get-pickup_Response_200"
      security:
        - X-Auth-Token: []
    post:
      operationId: pickup_post-pickup
      summary: Create Pickups
      description: |-
        Creates one or many pickups.

        This is a batch operation that can create up to 100 pickup objects in one request.

        ## Limits
        * Limit of creating 100 pickup objects per `POST` request.
      tags:
        - pickup
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
          required: true
          schema:
            type: string
            default: application/json
      responses:
        "200":
          description: The request has been successfully processed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pickup_post-pickup_Response_200"
        "422":
          description: |
            Incorrect entity. Locations were not valid. This results from missing required fields, invalid data, or partial error. See the response for more details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PostRequestPickup"
      security:
        - X-Auth-Token: []
    put:
      operationId: pickup_put-pickup
      summary: Update Pickups
      description: Update pickups by providing `pickup_id`, `collected_at`, and `ready_at` in the input.
      tags:
        - pickup
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
          required: true
          schema:
            type: string
            default: application/json
      responses:
        "200":
          description: The request has been successfully processed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pickup_put-pickup_Response_200"
        "422":
          description: |
            Incorrect entity. Locations were not valid. This results from missing required fields, invalid data, or partial error. See the response for more details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PutRequestPickup"
      security:
        - X-Auth-Token: []
    delete:
      operationId: pickup_delete-pickup
      summary: Delete Pickups
      description: |-
        Delete pickups by providing a list of `pickup_id`s.

        ## Examples
        You can use the list of `pickup_ids` to delete the pickup items. This is achieved by appending the query string **?id:in=1,2,3** to the resource **/pickup**.

        ```http
        DELETE /pickup?id:in=1,2,3
        ```
      tags:
        - pickup
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: id:in
          in: query
          description: Comma separated list of pickup IDs.
          required: true
          schema:
            type: integer
            format: int64
        - name: Accept
          in: header
          description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
          required: true
          schema:
            type: string
            default: application/json
      responses:
        "204":
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties: {}
      security:
        - X-Auth-Token: []
tags:
  - name: pickup
    description: BigCommerce Pickup API Definition.
  - name: pickupMethods
    description: BigCommerce Pickup Methods API Definition.
  - name: pickupOptions
    description: BigCommerce Pickup Options V3 Definition.
servers:
  - url: https://api.bigcommerce.com
    description: https://api.bigcommerce.com
components:
  schemas:
    PutRequestPickup:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          deprecated: true
        pickup_id:
          type: integer
          minimum: 1
          description: The ID of pickup.
        ready_at:
          type: string
          description: |
            Can be provided as two inputs.
            Unix: Represents the time in seconds that has elapsed since Unix epoch (00:00:00 UTC on 1 January 1970)
            ISO-8601: Represents the time in ISO format.
        collected_at:
          type: string
          description: |
            Can be provided as two inputs.
            Unix: Represents the time in seconds that has elapsed since Unix epoch (00:00:00 UTC on 1 January 1970).
            ISO-8601: Represents the time in ISO format.
            If this value is not supplied, the pickup item collected_at property will be null.
      required:
        - id
        - pickup_id
      title: PutRequestPickup
    Pickup_put-pickup_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Pickup"
        meta:
          $ref: "#/components/schemas/OrdersPickupsPutResponsesContentApplicationJsonSchemaMeta"
      title: Pickup_put-pickup_Response_200
    OrdersPickupsPutResponsesContentApplicationJsonSchemaMeta:
      type: object
      properties: {}
      title: OrdersPickupsPutResponsesContentApplicationJsonSchemaMeta
    Pickup:
      type: object
      properties:
        id:
          type: integer
          description: The ID of pickup.
        pickup_method_id:
          type: integer
          minimum: 1
          description: ID of pickup method.
        order_id:
          type: integer
          minimum: 1
          description: ID of order.
        ready_at:
          type: string
          format: date-time
          description: "Datetime when pickup was ready for collection. "
        created_at:
          type: string
          format: date-time
          description: Datetime when pickup was created.
        updated_at:
          type: string
          format: date-time
          description: Datetime when pickup was updated.
        pickup_items:
          type: array
          items:
            $ref: "#/components/schemas/PickupItem"
      title: Pickup
    PickupItem:
      type: object
      properties:
        id:
          type: integer
          minimum: 1
          description: The ID of pickup.
        order_product_id:
          type: integer
          minimum: 1
          description: The ID of the product.
        quantity:
          type: integer
          minimum: 1
          description: The quantity of an item.
        status:
          $ref: "#/components/schemas/PickupItemStatus"
          description: The status of the pickup.
        collected_at:
          type:
            - string
            - "null"
          format: date-time
          description: Date and time when the pickup was collected.
      title: PickupItem
    PickupItemStatus:
      type: string
      enum:
        - AWAITING_COLLECTION
        - COLLECTED
      description: The status of the pickup.
      title: PickupItemStatus
    PostRequestPickup:
      type: object
      properties:
        pickup_method_id:
          type: integer
          minimum: 1
          description: ID of pickup method.
        order_id:
          type: integer
          minimum: 1
          description: ID of order.
        ready_at:
          type: string
          description: |
            Can be provided as two inputs.
            Unix: Represents the time in seconds that has elapsed since Unix epoch (00:00:00 UTC on 1 January 1970)
            ISO-8601: Represents the time in ISO format.
        collected_at:
          type: string
          description: |
            Can be provided as two inputs.
            Unix: Represents the time in seconds that has elapsed since Unix epoch (00:00:00 UTC on 1 January 1970).
            ISO-8601: Represents the time in ISO format.
            If this value is not supplied, the pickup item collected_at property will be null.
        pickup_items:
          type: array
          items:
            $ref: "#/components/schemas/PostRequestPickupItem"
      required:
        - pickup_method_id
        - order_id
        - ready_at
        - pickup_items
      title: PostRequestPickup
    PostRequestPickupItem:
      type: object
      properties:
        order_product_id:
          type: integer
          minimum: 1
          description: The ID of the product.
        quantity:
          type: integer
          minimum: 1
          description: The quantity of an item.
      required:
        - order_product_id
        - quantity
      title: PostRequestPickupItem
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        title:
          type: string
          description: Human readable error message.
        type:
          type: string
          description: |
            URL identifying the error type. Dereferencing the URL leads to documentation about the error type.
        errors:
          $ref: "#/components/schemas/ErrorResponseErrors"
          description: Detailed summary describing the particular error.
      title: ErrorResponse
    ErrorResponseErrors:
      type: object
      properties: {}
      description: Detailed summary describing the particular error.
      title: ErrorResponseErrors
    Pickup_post-pickup_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Pickup"
        meta:
          $ref: "#/components/schemas/OrdersPickupsPostResponsesContentApplicationJsonSchemaMeta"
      title: Pickup_post-pickup_Response_200
    OrdersPickupsPostResponsesContentApplicationJsonSchemaMeta:
      type: object
      properties: {}
      title: OrdersPickupsPostResponsesContentApplicationJsonSchemaMeta
    Pickup_get-pickup_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Pickup"
      title: Pickup_get-pickup_Response_200
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: |-
        ### OAuth scopes

        | UI Name | Permission | Parameter |
        |:--------|:-----------|:----------|
        |  Order Fulfillment | read-only | `store_order_fulfillment_read_only` | 
        |  Order Fulfillment | modify | `store_order_fulfillment_manage` |

        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see [API Accounts and OAuth Scopes](/developer/docs/overview/api-fundamentals/api-accounts#api-accounts). |

        ### Further reading

        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/developer/docs/overview/api-fundamentals/api-accounts).

        For more about BigCommerce OAuth scopes, see [API Accounts and OAuth Scopes](/developer/docs/overview/api-fundamentals/api-accounts#oauth-scopes).

        For a list of API status codes, see [API Status Codes](/developer/api-reference/rest/overview#rest-http-status-codes).
