openapi: 3.1.0
info:
  title: 'Admin Management: Store Information V2'
  version: 1.0.0
paths:
  /stores/{store_hash}/v2/store:
    get:
      operationId: storeInformation_getStoreInformation
      summary: Get Store Information
      description: >-
        Returns metadata about the global settings for a store. Some of these values are independently configurable on a
        per-storefront or per-channel basis. For channel overrides, see [Store
        Settings](/developer/api-reference/rest/admin/management/settings).
      tags:
        - storeInformation
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response
            body.
          required: false
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreInformation'
      security:
        - X-Auth-Token: []
  /stores/{store_hash}/v2/time:
    get:
      operationId: timeZone_getSystemTimestamp
      summary: Get System Timestamp
      description: >-
        Returns the system timestamp at the time of the request. The time resource is useful for validating API
        authentication details and testing client connections.
      tags:
        - timeZone
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response
            body.
          required: false
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/timeStamp_Full'
      security:
        - X-Auth-Token: []
tags:
  - name: storeInformation
    description: Retrieve a store's profile, address, and configuration details.
  - name: timeZone
    description: Retrieve the store's time zone settings.
servers:
  - url: https://api.bigcommerce.com
    description: https://api.bigcommerce.com
components:
  schemas:
    DateFormat:
      type: object
      properties:
        display:
          type: string
          description: A string that defines dates’ display format, in the pattern `M jS Y`.
        export:
          type: string
          description: A string that defines the CSV export format for orders, customers, and products, in the pattern `M jS Y`.
        extended_display:
          type: string
          description: A string that defines dates’ extended-display format, in the pattern `M jS Y @ g:i A`.
      title: DateFormat
    Timezone:
      type: object
      properties:
        name:
          type: string
          description: A string identifying the time zone, in the format `Continent/City`.
        raw_offset:
          type: integer
          description: A negative or positive number, identifying the offset from UTC/GMT, in seconds, during winter/standard time.
        dst_offset:
          type: integer
          description: >-
            A negative or positive number, identifying the offset from UTC/GMT, in seconds, during summer/daylight
            saving time.
        dst_correction:
          type: boolean
          description: A boolean indicating whether this time zone observes daylight saving time.
        date_format:
          $ref: '#/components/schemas/DateFormat'
      title: Timezone
    StoreInformationLogo0:
      type: object
      properties:
        url:
          type: string
      title: StoreInformationLogo0
    StoreInformationLogo:
      oneOf:
        - $ref: '#/components/schemas/StoreInformationLogo0'
        - type: array
          items:
            description: Any type
      description: Either an object describing the logo image, or an empty array.
      title: StoreInformationLogo
    StoreInformationFeaturesCheckoutType:
      type: string
      enum:
        - optimized
        - single
        - single_customizable
        - klarna
      description: >-
        What type of checkout is enabled on the store. Possible values returned are optimized, single (one page),
        single_customizable (one page for developers), klarna.
      title: StoreInformationFeaturesCheckoutType
    StoreInformationFeaturesStorefrontLimits:
      type: object
      properties:
        active:
          type: integer
          minimum: 1
          default: 1
          description: >-
            Describes the number of storefronts active on the store. If `multi_storefront_enabled` is `false`, this
            value is `1`.
        total_including_inactive:
          type: integer
          minimum: 1
          default: 1
          description: >-
            Describes the total number of storefronts associated with the store, including both active and inactive
            storefronts. The default varies based on store plan.
      title: StoreInformationFeaturesStorefrontLimits
    StoreInformationFeatures:
      type: object
      properties:
        stencil_enabled:
          type: boolean
          default: true
          description: Indicates whether a store is using a Stencil theme.
        sitewidehttps_enabled:
          type: boolean
          description: Indicates whether there is site-wide https.
        facebook_catalog_id:
          type: string
          description: The ID of the Facebook by Meta catalog. If there is none, this endpoint returns an empty string.
        checkout_type:
          $ref: '#/components/schemas/StoreInformationFeaturesCheckoutType'
          description: >-
            What type of checkout is enabled on the store. Possible values returned are optimized, single (one page),
            single_customizable (one page for developers), klarna.
        wishlists_enabled:
          type: boolean
        graphql_storefront_api_enabled:
          type: boolean
          default: true
          description: >-
            Describes whether you can use the [GraphQL Storefront
            API](/developer/docs/storefront/guides/graphql-storefront-api/overview) on this store.
        shopper_consent_tracking_enabled:
          type: boolean
          description: >-
            Indicates whether the store is tracking the values of the cookie and privacy consent settings that the
            shopper consented to and configured.
        multi_storefront_enabled:
          type: boolean
          default: false
          description: >-
            Indicates whether the storeʼs plan provides the possibility of using more than one storefront or sales
            channel. Internally, this value indicates whether the store has the MSF feature flag enabled. 
        storefront_limits:
          $ref: '#/components/schemas/StoreInformationFeaturesStorefrontLimits'
      description: >-
        Describes some aspects of the storeʼs tech stack and configuration settings that affect the features available
        for the store to use.
      title: StoreInformationFeatures
    StoreInformation:
      type: object
      properties:
        id:
          type: string
          description: The store hash, a unique store identifier.
        account_uuid:
          type: string
          format: uuid
          description: The UUID of the account to which the store belongs.
        domain:
          type: string
          description: Primary domain name.
        secure_url:
          type: string
          description: Store’s current HTTPS URL.
        control_panel_base_url:
          type: string
          description: The secure hostname of the control panel.
        status:
          type: string
          description: The status of the store.
        name:
          type: string
          description: Store’s name.
        first_name:
          type: string
          description: Primary contact’s first name (as defined during the store sign-up process).
        last_name:
          type: string
          description: Primary contact’s last name (as defined during the store sign-up process).
        address:
          type: string
          description: Display address.
        country:
          type: string
          description: Country where the store is located (as defined during the store sign-up process).
        country_code:
          type: string
          description: Two-letter ISO 3166-1 country code
        infrastructure_region:
          type: string
          description: >-
            The infrastructure region where the store is located. Use this to determine where to place supporting
            infrastructure for minimum latency to the store. Compare against GCP regions on
            https://cloud.google.com/compute/docs/regions-zones
        phone:
          type: string
          description: Display phone number.
        admin_email:
          type: string
          description: Email address of the store administrator/owner.
        order_email:
          type: string
          description: Email address for orders and fulfillment.
        favicon_url:
          type: string
          description: >-
            The URL of the favicon image associated with the website. This should be a valid URL pointing to an `.ico`
            or other supported icon format file.
        timezone:
          $ref: '#/components/schemas/Timezone'
        language:
          type: string
          description: Default language code.
        currency:
          type: string
          description: Default currency code.
        currency_symbol:
          type: string
          description: Default symbol for values in the currency.
        decimal_separator:
          type: string
          description: Default decimal separator for values in the currency.
        thousands_separator:
          type: string
          description: Default thousands separator for values in the currency.
        decimal_places:
          type: integer
          description: Default decimal places for values in the currency.
        currency_symbol_location:
          type: string
          description: Default position of the currency symbol (left or right).
        weight_units:
          type: string
          description: Default weight units (metric or imperial).
        dimension_units:
          type: string
          description: Default dimension units (metric or imperial).
        dimension_decimal_places:
          type: integer
          description: The number of decimal places.
        dimension_decimal_token:
          type: string
          description: The symbol that separates the whole numbers from the decimal points.
        dimension_thousands_token:
          type: string
          description: The symbol used to denote thousands.
        plan_name:
          type: string
          description: Name of the BigCommerce plan to which this store is subscribed.
        plan_level:
          type: string
          description: Level of the BigCommerce plan to which this store is subscribed.
        plan_is_trial:
          type: boolean
          description: Whether the payment plan associated with the store is still in the trial phase.
        industry:
          type: string
          description: >-
            Industry, or vertical category, in which the business operates. (As selected from drop-down list during the
            store sign-up process.)
        logo:
          $ref: '#/components/schemas/StoreInformationLogo'
          description: Either an object describing the logo image, or an empty array.
        is_price_entered_with_tax:
          type: boolean
          description: A Boolean value that indicates whether or not prices are entered with tax.
        store_id:
          type: integer
          description: The numeric ID of the store. This is a different unique ID than the store hash.
        default_channel_id:
          type: integer
          default: 1
          description: The ID of the default channel. The ID of the first hosted storefront created on the store is `1`.
        default_site_id:
          type: integer
          description: The BigCommerce ID of the website associated with the default storefront.
        active_comparison_modules:
          type: array
          items:
            description: Any type
        features:
          $ref: '#/components/schemas/StoreInformationFeatures'
          description: >-
            Describes some aspects of the storeʼs tech stack and configuration settings that affect the features
            available for the store to use.
      title: StoreInformation
    timeStamp_Full:
      type: object
      properties:
        time:
          type: integer
          format: int64
          minimum: 0
      description: Store Time in Unix format.
      title: timeStamp_Full
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: >-
        ### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--------|:-----------|:----------|

        |  Information & Settings | modify | `store_v2_information` |

        |  Information & Settings | read-only | `store_v2_information_read_only` |


        ### Authentication header


        | Header | Argument | Description |

        |:-------|:---------|:------------|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to
        API Accounts](/developer/docs/overview/api-fundamentals/api-accounts#api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example
        Requests](/developer/docs/overview/api-fundamentals/api-accounts#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API
        Accounts](/developer/docs/overview/api-fundamentals/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status
        Codes](/developer/api-reference/rest/overview#rest-http-status-codes).
