openapi: 3.1.0
info:
  title: "Admin Management: Tax"
  version: 1.0.0
paths:
  /stores/{store_hash}/v3/tax/settings:
    get:
      operationId: taxSettings_getTaxSettings
      summary: Get Tax Settings
      description: Retrieves global-level tax settings.
      tags:
        - taxSettings
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
          required: true
          schema:
            type: string
            default: application/json
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tax_Settings_getTaxSettings_Response_200"
      security:
        - X-Auth-Token: []
    put:
      operationId: taxSettings_updateTaxSettings
      summary: Update Tax Settings
      description: Updates global-level tax settings.
      tags:
        - taxSettings
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
          required: true
          schema:
            type: string
            default: application/json
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tax_Settings_updateTaxSettings_Response_200"
        "422":
          description: The request body does not meet the specification.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tax_Settings"
      security:
        - X-Auth-Token: []
tags:
  - name: taxCustomers
    description: Retrieve the customer tax information used by tax providers.
  - name: taxProperties
    description: Create and manage the tax properties used to classify products.
  - name: productTaxProperties
    description: Assign tax properties to individual products.
  - name: taxZones
    description: Create and manage the geographic zones a store applies tax rates to.
  - name: taxRates
    description: Create and manage the tax rates applied within a tax zone.
  - name: taxSettings
    description: Manage store-level tax settings.
  - name: taxZoneCheck
    description: Determine which tax zone applies to a given address.
servers:
  - url: https://api.bigcommerce.com
    description: https://api.bigcommerce.com
components:
  schemas:
    Tax_Settings:
      type: object
      properties:
        tax_entered_with_prices:
          type: boolean
          description: Whether prices entered on this store include a tax component or not.
        price_display_settings:
          $ref: "#/components/schemas/TaxSettingsPriceDisplaySettings"
          description: Settings that describe how prices display at the global level.
        fallback_strategy:
          $ref: "#/components/schemas/TaxSettingsFallbackStrategy"
          default: FIXED
          description: Describes the fallback behavior that applies when a tax provider produces an error. A merchant may decide to use a flat 10% fallback tax rate, their basic tax settings, or to block the transaction until they achieve a successful result.
        should_subtract_store_tax:
          type: boolean
          default: true
          description: This setting applies only if a merchant enters tax-inclusive prices. When enabled, the store subtracts the itemʼs store tax rate before calculating tax using the shopperʼs tax zone. The tax-exclusive amount will be the same across all tax zones. When disabled, the tax-inclusive price remains the same across all tax zones; only the tax amount will vary based on the shopperʼs location. The tax-exclusive amount may vary among tax zones. These calculations are relevant for tax pricing and tax quotations that use basic tax.
        should_use_geolocation_to_determine_guest_shopper_tax_zone:
          type: boolean
          default: false
          description: This setting determines which tax zone a store uses to estimate tax for guest shoppers. When enabled, the store identifies a country-level tax zone based on the geolocation of a guest shopper. The store then applies the corresponding tax zone to estimate taxes. When disabled, the store identifies the zone using the provided `guest_shopper_tax_zone_id` field instead. Only the tax zones you configure can be matched to the guest shopper's geolocation.
        guest_shopper_tax_zone_id:
          type: integer
          default: 1
          description: ID for the tax zone a store uses when estimating tax for guest shoppers. The store uses this zone if you disable `should_use_geolocation_to_determine_guest_shopper_tax_zone`. The store also uses this zone if there is no matching country-level tax zone for the geolocation.
        store_tax_zone_id:
          type: integer
          default: 1
          description: ID for the tax zone a store uses when subtracting store tax. This setting applies only if a merchant enters tax-inclusive prices and subtracts store tax before tax calculation.
        document_submission_strategy:
          $ref: "#/components/schemas/TaxSettingsDocumentSubmissionStrategy"
          default: ON_PAYMENT_CAPTURE
          description: This setting determines whether BigCommerce submits tax documents to third-party tax providers when orders are created or when payments are captured online.
        rounding_strategy:
          $ref: "#/components/schemas/TaxSettingsRoundingStrategy"
          default: RATE_RESULT_ROUNDING
          description: This setting affects the rounding behavior of tax amounts calculated by the basic tax provider. The NO_ROUNDING option offers a high accuracy total tax amount for orders. The RATE_RESULT_ROUNDING option means every resulting tax rate amount has been rounded based on the active currency's precision settings. The UNIT_LEVEL_ROUNDING option means we calculate the rounded amount per unit, and then multiply this amount by the line item quantity. Note that tax is always calculated on the line item amount after discounts.
      title: Tax_Settings
    TaxSettingsRoundingStrategy:
      type: string
      enum:
        - NO_ROUNDING
        - RATE_RESULT_ROUNDING
        - UNIT_LEVEL_ROUNDING
      default: RATE_RESULT_ROUNDING
      description: This setting affects the rounding behavior of tax amounts calculated by the basic tax provider. The NO_ROUNDING option offers a high accuracy total tax amount for orders. The RATE_RESULT_ROUNDING option means every resulting tax rate amount has been rounded based on the active currency's precision settings. The UNIT_LEVEL_ROUNDING option means we calculate the rounded amount per unit, and then multiply this amount by the line item quantity. Note that tax is always calculated on the line item amount after discounts.
      title: TaxSettingsRoundingStrategy
    TaxSettingsDocumentSubmissionStrategy:
      type: string
      enum:
        - ON_PAYMENT_CAPTURE
        - ON_ORDER_CREATION
      default: ON_PAYMENT_CAPTURE
      description: This setting determines whether BigCommerce submits tax documents to third-party tax providers when orders are created or when payments are captured online.
      title: TaxSettingsDocumentSubmissionStrategy
    TaxSettingsFallbackStrategy:
      type: string
      enum:
        - FIXED
        - BASIC
        - DISABLE
      default: FIXED
      description: Describes the fallback behavior that applies when a tax provider produces an error. A merchant may decide to use a flat 10% fallback tax rate, their basic tax settings, or to block the transaction until they achieve a successful result.
      title: TaxSettingsFallbackStrategy
    TaxSettingsPriceDisplaySettings:
      type: object
      properties:
        control_panel_price_display_strategy:
          $ref: "#/components/schemas/TaxSettingsPriceDisplaySettingsControlPanelPriceDisplayStrategy"
          description: Whether to show prices as tax inclusive or tax exclusive in the BigCommerce control panel, or use the order's tax zone for price display.
        invoice_price_display_strategy:
          $ref: "#/components/schemas/TaxSettingsPriceDisplaySettingsInvoicePriceDisplayStrategy"
          default: ZONE
          description: Whether to show prices as tax inclusive or tax exclusive across all invoices, or use the shopperʼs tax zone for price display on invoices.
      description: Settings that describe how prices display at the global level.
      title: TaxSettingsPriceDisplaySettings
    TaxSettingsPriceDisplaySettingsInvoicePriceDisplayStrategy:
      type: string
      enum:
        - ZONE
        - INCLUSIVE
        - EXCLUSIVE
      default: ZONE
      description: Whether to show prices as tax inclusive or tax exclusive across all invoices, or use the shopperʼs tax zone for price display on invoices.
      title: TaxSettingsPriceDisplaySettingsInvoicePriceDisplayStrategy
    TaxSettingsPriceDisplaySettingsControlPanelPriceDisplayStrategy:
      type: string
      enum:
        - ZONE
        - INCLUSIVE
        - EXCLUSIVE
      description: Whether to show prices as tax inclusive or tax exclusive in the BigCommerce control panel, or use the order's tax zone for price display.
      title: TaxSettingsPriceDisplaySettingsControlPanelPriceDisplayStrategy
    Tax_Settings_updateTaxSettings_Response_200:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Tax_Settings"
        meta:
          $ref: "#/components/schemas/MetaOpen"
      title: Tax Settings_updateTaxSettings_Response_200
    MetaOpen:
      type: object
      properties: {}
      description: Response metadata.
      title: MetaOpen
    Tax_Settings_getTaxSettings_Response_200:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Tax_Settings"
        meta:
          $ref: "#/components/schemas/MetaOpen"
      title: Tax Settings_getTaxSettings_Response_200
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: |-
        ### OAuth scopes

        | UI Name | Permission | Parameter |
        |:--------|:-----------|:----------|
        |  Information & Settings | modify | `store_v2_information` |
        |  Information & Settings | read-only | `store_v2_information_read_only` |

        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/developer/docs/overview/api-fundamentals/api-accounts#api-accounts). |

        ### Further reading

        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/developer/docs/overview/api-fundamentals/api-accounts#x-auth-token-header-example-requests).

        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/developer/docs/overview/api-fundamentals/api-accounts#oauth-scopes).

        For a list of API status codes, see [API Status Codes](/developer/api-reference/rest/overview#rest-http-status-codes).
