openapi: 3.1.0
info:
  title: "Admin Management: Tax"
  version: 1.0.0
paths:
  /stores/{store_hash}/v3/tax/customers:
    get:
      operationId: taxCustomers_getTaxCustomers
      summary: List Tax Customers
      description: Retrieves a list of customer tax data.
      tags:
        - taxCustomers
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: customer_id:in
          in: query
          description: ID of customer. To target multiple customers, provide a comma-separated list of IDs such as `12,34,56`.
          required: false
          schema:
            type: array
            items:
              type: integer
        - name: Accept
          in: header
          description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
          required: true
          schema:
            type: string
            default: application/json
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tax_Customers_getTaxCustomers_Response_200"
        "400":
          description: Request parameters invalid
          content:
            application/json:
              schema:
                description: Any type
      security:
        - X-Auth-Token: []
    put:
      operationId: taxCustomers_updateTaxCustomers
      summary: Update Tax Customers
      description: |-
        Update the tax data associated with one or more customers.
        This operation will be additive to any values already associated with the customer, overwriting any existing values.
      tags:
        - taxCustomers
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
          required: true
          schema:
            type: string
            default: application/json
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tax_Customers_updateTaxCustomers_Response_200"
        "422":
          description: The request body does not meet specifications.
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/TaxCustomer"
      security:
        - X-Auth-Token: []
    delete:
      operationId: taxCustomers_deleteTaxCustomers
      summary: Delete Tax Customers
      description: Delete tax data that is associated with one or more customers.
      tags:
        - taxCustomers
      parameters:
        - name: store_hash
          in: path
          description: Permanent ID of the BigCommerce store.
          required: true
          schema:
            type: string
        - name: customer_id:in
          in: query
          description: ID of customer. To target multiple customers, provide a comma-separated list of IDs such as `12,34,56`.
          required: false
          schema:
            type: array
            items:
              type: integer
        - name: Accept
          in: header
          description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
          required: true
          schema:
            type: string
            default: application/json
      responses:
        "204":
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties: {}
        "400":
          description: Request parameters invalid
          content:
            application/json:
              schema:
                description: Any type
      security:
        - X-Auth-Token: []
tags:
  - name: taxCustomers
    description: Retrieve the customer tax information used by tax providers.
  - name: taxProperties
    description: Create and manage the tax properties used to classify products.
  - name: productTaxProperties
    description: Assign tax properties to individual products.
  - name: taxZones
    description: Create and manage the geographic zones a store applies tax rates to.
  - name: taxRates
    description: Create and manage the tax rates applied within a tax zone.
  - name: taxSettings
    description: Manage store-level tax settings.
  - name: taxZoneCheck
    description: Determine which tax zone applies to a given address.
servers:
  - url: https://api.bigcommerce.com
    description: https://api.bigcommerce.com
components:
  schemas:
    TaxCustomer:
      type: object
      properties:
        customer_id:
          type: integer
          description: A reference to the customer.
        tax_properties:
          $ref: "#/components/schemas/TaxCustomerTaxProperties"
          description: |-
            A simple key-value pairing.
            The tax property must be defined to associate a value.
            These values will be sent to the active tax provider during Tax Provider API operations whenever the associated customer is included in the operation.
      required:
        - customer_id
        - tax_properties
      description: Represents a customer and their associated tax-related attributes.
      title: TaxCustomer
    TaxCustomerTaxProperties:
      type: object
      properties: {}
      description: |-
        A simple key-value pairing.
        The tax property must be defined to associate a value.
        These values will be sent to the active tax provider during Tax Provider API operations whenever the associated customer is included in the operation.
      title: TaxCustomerTaxProperties
    Tax_Customers_updateTaxCustomers_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/TaxCustomer"
        meta:
          $ref: "#/components/schemas/MetaOpen"
      title: Tax Customers_updateTaxCustomers_Response_200
    MetaOpen:
      type: object
      properties: {}
      description: Response metadata.
      title: MetaOpen
    Tax_Customers_getTaxCustomers_Response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/TaxCustomer"
        meta:
          $ref: "#/components/schemas/MetaOpen"
      title: Tax Customers_getTaxCustomers_Response_200
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: |-
        ### OAuth scopes

        | UI Name | Permission | Parameter |
        |:--------|:-----------|:----------|
        |  Information & Settings | modify | `store_v2_information` |
        |  Information & Settings | read-only | `store_v2_information_read_only` |

        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/developer/docs/overview/api-fundamentals/api-accounts#api-accounts). |

        ### Further reading

        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/developer/docs/overview/api-fundamentals/api-accounts#x-auth-token-header-example-requests).

        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/developer/docs/overview/api-fundamentals/api-accounts#oauth-scopes).

        For a list of API status codes, see [API Status Codes](/developer/api-reference/rest/overview#rest-http-status-codes).
